/**
* @name Secret
* @author ùëÅùê∫#0531
* @description Originally made by LilyPichy!
* @version 1.0
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {



--background-tertiary-alt: rgb(30, 31, 71);

/* Border-radius for the whole theme */
--border-radius: 20px;

}

.theme-dark {

    /* Text */
    --text-normal: #e1e1f8;
    --header-primary: #e7e1f8;
    --interactive-normal: #beb1fa;
    --channels-default: #e3e1f8;

    --text-muted: #c3c1e2;
    --interactive-muted: #938cad;

    --header-secondary: #c4c1e2;
    --interactive-hover: #c1c1e2;
    --interactive-active: #c1c3e2;

    /* Background color */
    --background-primary: #39365e;
    --background-secondary: #2f2949;
    --background-secondary-alt: #231d3b;
    --background-tertiary: #120f22;
    --background-floating: #141122;
    --background-accent: #5b53c5;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(36, 31, 56, 0.32);
    --background-modifier-active: rgba(14, 12, 19, 0.32);
    --background-modifier-selected: rgba(23, 21, 31, 0.32);
    --toast-background: #3a365e !important;
    --toast-header: #221d3b !important;
    --toast-contents: #2c2949 !important;
    --toast-border: #2f2949 !important;

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-ROmMP1 { color: #6453c5;}
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-1Gx00P { background-color: #5e53c5 !important;}
    .lookFilled-1Gx00P:active, .lookFilled-1Gx00P:hover { background-color: #4c4ab6 !important;}
    .lookOutlined-3sRXeN:not(.colorWhite-rEQuAQ) { color: #6853c5; border-color: #5b53c5;}

    /* Hover background */
    .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { color: var(--interactive-normal);}

